<!-- Loop block to show books by title and author. -->
{{#each books}}
    <div class="row">
        <div class="col s10">
            <h5>{{title}}</h5>
            <p>By:{{author}}</p>
        </div>
        <div class="col s1" id="editNovel">
            <i class="material-icons right blue-text">create</i>
        </div>
        <div class="col s1" id="deleteNovel">
            <i class="material-icons right blue-text">delete</i>
        </div>
    </div>
    <hr>
{{/each}}