{{!-- Navbar code goes here!! --}}
<nav class="nav-wrapper">
    <div class="nav-wrapper black">
        <a class="brand-logo">A Novel <img id="book-club" src="https://res.cloudinary.com/fsgeoff/image/upload/v1608128135/Project-2/bookClub1_rqlid2.jpg
        "> Choice</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href="/admin">Admin</a></li>
            <li><a href="/">Home</a></li>
        </ul>
    </div>
</nav>