{{!-- Navbar code goes here!! --}}
<div class="navbar-fixed">
<nav class="nav-wrapper">
    <div class="nav-wrapper black ">
        <a class="brand-logo">A Novel <img src="../assets/images/book.svg" height="28px"> Choice</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href="/admin">Admin</a></li>
            <li><a href="/">Home</a></li>
        </ul>
    </div>
<<<<<<< HEAD
</nav>
</div>
=======
</nav>
>>>>>>> c9588fc49e42a7cd84e5d3b2844d1ee4a8f20bc5
