{{!-- This will be the popup for to add a new novel on the admin page. --}}

<section>
    <h4>Add A Novel</h4>
    <hr>
    <div class="container">
        <h5>Enter the novel details:</h5>
    </div>
</section>