{{!-- This code is incomplete.--}}
 {{> navbar}}
 <section class="backgroundimage" alt="stock background image of books"></section>

<div class="container">
    <section class="home">
        
        <div class="row">
            <div class="col s3"></div>
            <div class="col s6">
                <h4>Vote for Your Group's Novel</h4>
            </div>
            <div class="col s3"></div>
        </div>
            
        
    </section>
            
    <section class="body">
        <div class="row">
            <div class="col s3"></div>
            <div class="col s5">
                <select class="browser-default left" id="clubSelect">
                    <option value="" disabled selected>Find Your Group Here</option>
                    {{#each clubs}}
                        <option value="{{id}}">{{name}}</option>
                    {{/each}}
                </select>
            </div>
            <div class="col s1">
                <a href="/vote/" class="btn-flat waves-effect waves-grey right" id="selectedClub"><i class="material-icons">search</i></a>

            </div>
            <div class="col s3"></div>
        </div>

    </section>

</div>

<script src="/assets/js/index.js"></script>