{{!-- This code is incomplete. Reference the TODELETEvote.html file. --}}
{{> navbar}}
<section class="background" alt="image of line of boooks"></section>
    <div class="container">
        <div class="row">
            <div class="col s2"></div>
            <div class="col s8">
                <h4>Vote from selections below for this month! </h4>
                <div class="with-gap">
                    {{#each clubs}}
                        <p>
                            <label>
                                <input class="with-gap" name="group3" type="radio" checked />
<<<<<<< HEAD
                                <span id="votedBook" value= {{id}}>{{title}}</span>
=======
                                <span>{{name}}</span>
>>>>>>> c9588fc49e42a7cd84e5d3b2844d1ee4a8f20bc5
                            </label>
                        </p>
                    {{/each}}
                </div>

                        <button class="btn waves-effect waves-light" href="/voteSubmitted"type="submit" name="action" id="voteButton">Submit
                             <i class="material-icons right">send</i>
                        </button>
            </div>
            <div class="col s2"></div>
        </div>
        <div class="row">
            <div class="col s2"></div>
            <div class="col s8">
                {{!-- book-block will be injected here. --}}
                {{!-- {{books}} --}}
            </div>
            <div class="col s2"></div>
        </div>
    </div>
</section>