nav{
    background-color: transparent !important;
}

.nav-wrapper a{
    color: #aaa !important;
}  

.backgroundimage {
    background-image: url("/assets/images/background.jpg");
    height: 400px;
    width: 100%;
    /* object-fit: cover; */
    background-position: 100% 30%;
    background-size: cover;
    
  }
.background {
    background-image: url("/Public/assets/images/books.jpg");
    background-attachment: fixed;
}

.home {
    text-align:center;

}

h1 {
    text-align:center;
}

#searchIcon {
    float:left;
}

h4 {
    text-align:center;
}
#newClubLink {
    text-align:right !important;
}

#addNovel, #hidden {
    align-content:center;
    text-align:center;
}

h5 {
    margin-top:0px;
}
