nav{
    background-color: transparent !important;
}

.nav-wrapper a{
    color: #aaa !important;
}  

.backgroundimage {
    background-image: url("/assets/images/background.jpg");
    height: 400px;
    width: 100%;
    /* object-fit: cover; */
    background-position: 100% 30%;
    background-size: cover;
    
  }

.home {
    text-align:center;

}

h1 {
    text-align:center;
}

#searchIcon {
    float:left;
}